.LogInMainOuterSection{
    background: linear-gradient(#EBEBEB,#a04545);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: white;
}

.LogInMainInnerSection{
    width: 65vw;
    height: 65vh;
    display: flex;
    background-color: black;
}
.leftOuterLogInMainInnerSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: .7;
}
.leftInnerLogInMainInnerSection{
    text-align: center;
    width: 85%;
    height: 90%;
}
.leftInnerLogInMainInnerSection > .h1TagleftInnerLogInMainInnerSection{
    margin-top: 35px;
    font-size:25px ;
}
.leftInnerLogInMainInnerSection > .formOfLoginPage > input{
    margin : 5px 0 5px 0;
    color: white;
}
.rightOuterLogInMainInnerSection{
    background-image: url("https://5.imimg.com/data5/OP/LL/MY-467152/organic-cherries.jpg");
    background-size: fit;
    flex: 1;
}
.rightInnerLogInMainInnerSection{
    margin: 55px 0 0 16px;
    font-size: 25px;
}
.rightInnerLogInMainInnerSection >.h1TagleftInnerLogInMainInnerSection > span{
    font-weight: 400;
}
.rightInnerLogInMainInnerSection >p{
    font-size: 15px;
}
.formOfLoginPage{
    padding: 20px;
}
.formOfLoginPage > button{
    margin-top: 20px;
    min-width: 250px;
}